.div1{
    box-sizing: content-box;
    width: 600px;
    padding: 50px;
    border: 5px double blue;
    height: 120px;
    
}
.div12{
    box-sizing: content-box;
    padding: 50px;
    border: 5px double blue;
    height: 30px;
    width: 245px;   
    float: left;
}
.div2{
    box-sizing: border-box;
    width: 600px;
    height: 120px;
    border: 5px dashed greenyellow;
    padding: 50px;
}
.div22{
    box-sizing: border-box;
    width: 300px;
    height: 120px;
    border: 5px dashed greenyellow;
    padding: 50px;
    float: left;
}
.clearfix{
clear: left;
}